
.DEFAULT_GOAL: all

all: $(MK_ALL_TARGETS)

.PHONY: all

ifeq ($(HELP),1)

include $(MK)/help.rules

else

default: build

include $(MK)/common.rules
include $(MK)/variant.rules
include $(MK)/bindirs.rules
include $(MK)/build.rules
include $(MK)/cc.rules
include $(MK)/binutils.rules
include $(MK)/run.rules
include $(MK)/coverage.rules

ifneq ($(MK.cmake),)
include $(MK)/cmake.rules
endif

ifneq ($(MK.rust),)
include $(MK)/rust.rules
endif

ifneq ($(MK.configure),)
include $(MK)/configure.rules
endif

.PHONY: default

endif # HELP
